@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor0: #8C96AA;
    --cor01: #8CA4D5;
    --cor02: #7EAAFF;
    --cor03: #676F80;
    --cor04: #374155;
    --cor05: #182133;

    --fonte-padrao: 'Arial', 'Helvetica', 'sans serif';
    --fonte-destaque: 'Concert One'
}

body{
    background-image: linear-gradient(to right, var(--cor02), var(--cor01), var(--cor0));
}

main{
    width: 800px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 10%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.336);
}

main h1{
    text-align: center;
    padding: 20px;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.219);
    color: var(--cor04);
}

.login{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login label{
    font-family: var(--fonte-padrao);
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.login input{
    width: 450px;
    height: 25px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.445);
}

.login p{
    font-family: var(--fonte-padrao);
    font-size: 1.3rem
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.btn button{
    font-family: var(--fonte-destaque);
    font-size: 2rem;
    background-color: var(--cor01);
    color: white;
    border: none;
    padding: 5px 8px 9px 8px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.274);
}

.btn button:hover{
    cursor: pointer;
    background-color: var(--cor04);
    color: #7EAAFF;
    box-shadow: 2px 2px 6px var(--cor02);
    transition: 0.5s;
}